<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head')%>
</head>
<body>
    <%- include ('partials/navigation')%>

<!-- Main contenido principal -->
<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
<section>
<h1 class="display-1">About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consectetur a architecto aut blanditiis voluptatem ut sunt voluptate, eveniet doloremque quasi illo provident alias pariatur dignissimos iusto veritatis dolor eius ab impedit! Saepe sed magni dolor ipsum dolorum praesentium quasi architecto ut deserunt optio. Dignissimos iure cumque, nisi soluta, vel ad laudantium expedita molestias consectetur debitis perspiciatis. Nostrum aliquid eum atque architecto iusto nam consectetur minima aspernatur ut! Dolor eaque impedit porro? Praesentium odit atque, laudantium quae labore animi necessitatibus, placeat, unde porro ratione tempora exercitationem adipisci. Adipisci a aliquam eum labore. Excepturi tenetur vel rem! Maxime id quibusdam aperiam. Maiores distinctio illo explicabo, fugit deleniti molestiae provident veniam. Rem architecto tenetur beatae unde ea maxime sint obcaecati, voluptate doloribus nam molestiae voluptates. Voluptates esse, saepe possimus quibusdam inventore animi nobis quas illo quam porro dolorum nemo libero beatae vero corporis facere magni ullam? Debitis repudiandae quo iste mollitia soluta laudantium amet doloribus aut ea eos accusantium corrupti distinctio dolor voluptatibus recusandae atque quia quod illum inventore vitae, doloremque rem deleniti laboriosam! Minima, est aspernatur quidem aperiam cumque quam maiores quo dolor architecto quod quas vitae odio maxime facere fuga cum molestiae. Magnam saepe eius excepturi reprehenderit ducimus dolores. Eligendi!</p>

</section>



</main>






</body>
</html>
